.form {
  gap:  var(--size-5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--clr-gray-2);
  border-radius: 10px;
  padding-top: 2rem;
}

.formTitle {
  text-align: center;
}

.formSubtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.requestError {
  text-align: center;
  margin-bottom: var(--size-3);
  color: var(--clr-danger-2);
}

.input {
  margin: 0 var(--size-6);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: var(--clr-gray-3);
}

.inputError {
  border: 1px solid var(--clr-danger-2);
}

.error {
  color: var(--clr-danger-2);
  margin: 0 var(--size-6);
}

/* Si el mensaje de error esta vacio, muestro un espacio 
para reservar el lugar que ocuparia el mensaje  */
.error:empty::before {
  content: "\A0";
}

.submitButton {
  border: none;
  color: var(--clr-gray-1);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--clr-accent-12);
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.submitButton:hover, .submitButton:focus {
  background-color: var(--clr-accent-10);
}

.submitButton:disabled {
  background-color: var(--clr-gray-7);
}