
.coin-wrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    max-width: 6em;
}

.coin-img{
    max-width: 6em;
    height: auto;
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-price-change-24h::before{
    color: var(--font-color);
    content: '24h ';
}

.coin-price-change-24h::after{
    color: var(--font-color);
    content: '%';
}

.positive-price-change{
    color: green;
}

.negative-price-change{
    color: red;
}