.submitButton {
  border: none;
  color: var(--clr-gray-1);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--clr-accent-12);
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.submitButton:hover, .submitButton:focus {
  background-color: var(--clr-accent-10);
}

.submitButton:disabled {
  background-color: var(--clr-gray-7);
}